<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <app-logo></app-logo>
        </div>
        <div class="col-sm-6 d-flex aling-items-center">
            <div class="row">
                <div class="col style-margin-button">
                    <app-buttom [titleButton] = "'home'"></app-buttom>
                </div>
                <div class="col style-margin-button">
                    <app-buttom [titleButton] = "'historia'"></app-buttom>
                </div>
                <div class="col style-margin-button">
                    <app-buttom [titleButton] = "'sobre'"></app-buttom>
                </div>
                <div class="col style-margin-button">
                    <app-buttom [titleButton] = "'contato'"></app-buttom>
                </div>                
            </div>
        </div>

        <div class="col-sm-4 d-flex align-items-center">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 text-md-end">
                    <app-buttom [titleButton]="'add'"></app-buttom>
                </div>
                <div class="col-md-4 text-md-end">
                    <app-buttom [titleButton]="'login'"></app-buttom>
                </div>
            </div>
        </div>
    </div>
</div>